.editor-block-types-list [class*="mega-blocks-gutenberg"] {
	background-color: #CCE5FF;
}
.editor-block-types-list [class*="mega-blocks-gutenberg"] span {
	background-color: #cce5ff;
	border: none;
	outline: none;
	box-shadow: none;
}
.mbg-wrapper .card {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100% !important;
}
.plan-features li br {
  display: none;
}
.mbg-settings-table {
	width: 100%;
}
.mbg-settings-table tr td {
	padding: 15px 0;
}